/* Custom Styles for the Heat Pump Calculator App */

h1 { font-size: 4.0 rem }

/* This is the element that holds an icon. */
i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #349ccc
}

.section-title {
    font-size: 1.8rem; font-weight: 600; letter-spacing: 0.1rem; margin-bottom: 1.5rem; margin-top: 0;
}

.labeled-comp {
    margin-bottom: 3rem;
}

.label-units {
    margin-left: 0.5rem;
}

td {
    padding: 6px 10px;
}

#sponsors {
    max-width: 100%;
}