/* Custom Styles for the Heat Pump Calculator App */

/* This is the element that holds an icon. */
i {
    margin-left: 0.5rem;
    margin-right: 1.3rem;
    color: #349ccc
}

.section-title {
    font-size: 2.0rem; font-weight: 600; letter-spacing: 0.1rem; margin-bottom: 1.5rem; margin-top: 0;
}

.labeled-comp {
    margin-bottom: 2rem;
}
